<section class="firstPage" id="firstPage">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/beginDown.png" alt="" id="beginDown">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/beginUp.png" alt="" id="beginUp">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/gameDescriptionDown.png" alt="" id="gameRuleDown">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/gameDescriptionUp.png" alt="" id="gameRuleUp">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/awardDown.png" alt="" id="awardDown">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/awardUp.png" alt="" id="awardUp">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/title1.png" alt="">
</section>