<section class="infoPage" id="infoPage">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/bg.png" alt="" id="bg">
<!--    <img src="img/infoBg.png" alt="">-->
<!--    <img src="img/completed.png" alt="" id="completed">-->
    <form class="inputContainer bg">
        <input type="text" id="nameInfo" name="nameInfo" required>
        <input type="text" id="addressInfo" name="addressInfo" required>
        <input type="tel" id="telInfo" name="telInfo" required>
        <input type="email" id="emailInfo" name="emailInfo" required>
        <input type="submit" class="submit" id="completed" value="">
    </form>
</section>