<section class="infoPage" id="infoPage1">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/bg.png" alt="" id="bg">
<!--    <img src="img/infoBg.png" alt="">-->
<!--    <img src="img/completed.png" alt="" id="completed">-->
    <div class="inputContainer bg1">
        <input type="text" id="nameInfo1" name="nameInfo1" required>
        <input type="text" id="addressInfo1" name="addressInfo1" required>
        <input type="tel" id="telInfo1" name="telInfo1" required>
        <input type="email" id="emailInfo1" name="emailInfo1" required>
        <input type="submit" class="submit" id="completed1" value="" >
    </div>
</section>