<section class="infoPage" id="infoPage">
<!--    <img src="img/infoBg.png" alt="">-->
<!--    <img src="img/completed.png" alt="" id="completed">-->
    <div class="inputContainer">
        <input type="text" id="nameInfo" name="nameInfo">
        <input type="tel" id="telInfo" name="telInfo">
        <input type="text" id="addressInfo" name="addressIngo">
        <input type="email" id="emailInfo" name="emailInfo">
        <input type="submit" class="submit" id="completed" value="">
    </div>
</section>