<section class="monsterFall" id="monsterFall">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/num3.png" alt="">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/num2.png" alt="">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/num1.png" alt="" id="lastCut">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/score.png" alt="">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/countDown.png" alt="">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/monsterBg.png" alt="" id="monsterBg">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/bg1.png" alt="">
    <img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/timeout.png" alt="" id="timeout">

    <div class="countDownContainer">
        <span class="countDown"></span>
    </div>
    <div class="scoreContainer">
        <span class="score">0</span>
    </div>
    <div class="littleMonster" id="monster1"></div>
    <div class="littleMonster" id="monster2"></div>
    <div class="littleMonster" id="monster3"></div>
    <div class="littleMonster" id="monster4"></div>
    <div class="littleMonster" id="monster5"></div>
    <div class="littleMonster" id="monster6"></div>
    <div class="littleMonster" id="monster7"></div>
    <audio preload="none" id="monsterSound">
        <source src="audio/monsterSound.mp3"  type="audio/mpeg">
    </audio>
</section>
<img src="http://xbg6869.oss-cn-beijing.aliyuncs.com/bg.png" alt="" id="bg">