<section class="monsterFall" id="monsterFall">
    <img src="img/bg1.png" alt="">
    <img src="img/num3.png" alt="">
    <img src="img/num2.png" alt="">
    <img src="img/num1.png" alt="" id="lastCut">
    <img src="img/score.png" alt="">
    <img src="img/countDown.png" alt="">
    <img src="img/timeout.png" alt="" id="timeout">
    <div class="countDownContainer">
        <span class="countDown"></span>
    </div>
    <div class="scoreContainer">
        <span class="score">0</span>
    </div>
    <img src="img/monster2.png" alt="" class="preloadImg">
    <!--<audio src="audio/monsterSound.mp3" preload="none" id="monsterSound"></audio>-->
    <audio preload="none" id="monsterSound">
        <source src="audio/monsterSound.mp3"  type="audio/mpeg">
    </audio>
</section>