<section class="subjectPage" id="subjectPage">
    <div class="subjectContainer" id="subjectContainer">
        <p>医生说，被小怪兽袭击的村民会出现咳嗽、低烧、夜间出汗、午后发热、胸痛、疲乏无力、体重减轻、呼吸困难等症状，请问这个小怪兽的真名是--</p>
    </div>
    <div class="optionContainer" id="optionA">
        <p>A.流感病毒</p>
    </div>
    <div class="optionContainer" id="optionB">
        <p>B.结核杆菌</p>
    </div>
    <div class="optionContainer" id="optionC">
        <p>C.HIV</p>
    </div>
    <div class="optionContainer" id="optionD">
        <p>D.大肠杆菌</p>
    </div>
</section>