<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>打败结核兽</title>

</head>
<body>
<p style="display: none" id="openid"> <%= name %></p>
<!--音乐播放-->
<div class="music musicCur">
    <audio src="audio/bgMusic.mp3" loop preload="auto" id="guangzhou"></audio>
</div>
<div id="ui-view"></div>
</body>
<script src="bundle.js"></script>
</html>