<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>打败结核兽</title>

</head>
<body>
<p style="display: none" id="openid"> <%= name %></p>
<!--音乐播放-->
<div class="music musicCur">
    <audio src="audio/bgMusic.mp3" loop preload="auto" id="guangzhou"></audio>
</div>
<div id="ui-view"></div>
<script src="bundle.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>

    history.pushState("", "Title", "http://www.yuanz.cc/");

    //网站统计部分
    var _mtac = {};
    (function() {
        var mta = document.createElement("script");
        mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.2";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500405102");

        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
    })();

    var images = new Array()
    function preload() {
        for (var i = 0; i < preload.arguments.length; i++) {
            images[i] = new Image()
            images[i].src = preload.arguments[i]
        }
    }
    preload(
        "img/awardDescription.png",
        "img/awardDown.png",
        "img/beginDown.png",
        "img/beginUp.png",
        "img/bg.png",
        "img/bg1.png",
        "img/countDown.png",
        "img/gameDescriptionDown.png",
        "img/gameDescriptionUp.png",
        "img/gameRule.png",
        "img/infoBg.png",
        "img/infoBg1.png",
        "img/monsterBg.png",
        "img/num1.png",
        "img/num2.png",
        "img/num3.png",
        "img/openMusic.png",
        "img/score.png",
        "img/timeout.png"
    )
</script>
</body>
</html>