<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请登录</title>
    <script src="lib/jquery.min.js"></script>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <style type="text/css">
        section{
            width: 500px;
            height: 50px;
            margin: 10px auto;
        }
        .submit{
            width: 250px;
            height: 30px;
        }
        button{
            margin-left: 80px;
        }
    </style>
</head>
<body>

<section class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">请输入管理员账户</span>
    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" id="username">
</section>

<section class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">请输入管理员密码</span>
    <input type="password" class="form-control" placeholder="PassWord" aria-describedby="sizing-addon1" id="password">
</section>

<section class="submit" id="submit">
    <button type="submit">登录</button>
</section>



</body>
<script src="lib/jquery.min.js"></script>
<script type="text/javascript">
    var btn = document.getElementById('submit');
    var username='';
    var psw='';
    btn.onclick=function (e) {
         username=document.getElementById('username').value;
         psw=document.getElementById('password').value;
        if(username.length>0 && psw.length>0){
            var user={
             username:username,
             psw:psw
            }
         $.ajax({
             url:'data',
             type:'post',
             data:user,
             dataType:'text',
             success: function(result){
                 $('body').html(result);
             },
         })

        }else{
            alert('账户或密码不能为空')
            return false;
        }

    }




</script>
</html>