html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
    overflow: hidden;
}

#ui-view {
    width: 100%;
    height: 100%;
}

.firstPage {
    width: 100%;
    height: 100%;
    position: relative;
}


.firstPage img:nth-of-type(1) {
    width: 5.38rem;
    height: 2.57rem;
    position: absolute;
    left: 4.96rem;
    top: 19.77rem;
    opacity: 0;
    animation-delay: .3s;
    z-index: 1;
}

.firstPage img:nth-of-type(2) {
    width: 5.38rem;
    height: 3.06rem;
    position: absolute;
    left: 4.96rem;
    top: 19.28rem;
    opacity: 0;
    animation-delay: .3s;
    z-index: 2;
}

.firstPage img:nth-of-type(3){
    width: 3.39rem;
    height: 1.1rem;
    position: absolute;
    left: 3.43rem;
    top: 22.78rem;
    opacity: 0;
    animation-delay: .5s;
    z-index: 1;
}
.firstPage img:nth-of-type(4) {
    width: 3.39rem;
    height: 1.18rem;
    position: absolute;
    left: 3.37rem;
    top: 22.69rem;
    opacity: 0;
    animation-delay: .5s;
    z-index: 2;
}
.firstPage img:nth-of-type(5) {
    width: 3.39rem;
    height: 1.18rem;
    position: absolute;
    left: 8.43rem;
    top: 22.69rem;
    opacity: 0;
    animation-delay: .5s;
    z-index: 2;
}
.firstPage img:nth-of-type(6) {
    width: 3.39rem;
    height: 1.18rem;
    position: absolute;
    left: 8.43rem;
    top: 22.69rem;
    opacity: 0;
    animation-delay: .5s;
    z-index: 2;
}
.firstPage img:nth-of-type(7) {
    width: 4.64rem;
    height: 1.02rem;
    position: absolute;
    left: .62rem;
    top: .45rem;
    opacity: 0;
    animation-delay: .5s;
    z-index: 3;
}
.firstPage img:nth-of-type(8) {
    width: 15.27rem;
    height: 26.81rem;
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    animation-delay: 0s;
    z-index: 3;
}

.rulePage {
    width: 100%;
    height: 100%;
    position: relative;
}
.rulePage img:nth-of-type(1) {
    width: 12.23rem;
    height: 20.61rem;
    position: absolute;
    left: 1.43rem;
    top: 2.74rem;
    opacity: 0;
    animation-delay: 0.2s;
}

.rulePage img:nth-of-type(2) {
    width: 1.74rem;
    height: 1.74rem;
    position: absolute;
    left: 12.69rem;
    top: 5.43rem;
    opacity: 0;
    animation-delay: 0.2s;
}

.monsterFall {
    width: 100%;
    height: 100%;
    position: relative;
}
.monsterFall *{
    backface-visibility:hidden;              /* 隐藏被旋转的 div 元素的背面，开启GPU硬件加速 */
    -webkit-backface-visibility:hidden;      /* Chrome 和 Safari */
    -moz-backface-visibility:hidden;         /* Firefox */
    -ms-backface-visibility:hidden;          /* Internet Explorer */
    -webkit-transform: translate3d(0, 0, 0); /* 3D旋转，开启GPU硬件加速 */
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
                             /* 3D元素距视图的距离，解决开启GPU硬件加速部分Android出现闪烁的bug */
    -ms-perspective: 1000;

}
/*.monsterFall img:nth-of-type(1) {
    width: 15.27rem;
    height: 26.47rem;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
}*/

.monsterFall img:nth-of-type(1) {
    width: 7.94rem;
    height: 7.93rem;
    position: absolute;
    left: 3.36rem;
    top: 8.53rem;
    opacity: 0;
    animation-delay: 1s;
}

.monsterFall img:nth-of-type(2) {
    width: 7.94rem;
    height: 7.93rem;
    position: absolute;
    left: 3.36rem;
    top: 8.53rem;
    opacity: 0;
    animation-delay: 2s;
}

.monsterFall img:nth-of-type(3) {
    width: 7.94rem;
    height: 7.93rem;
    position: absolute;
    left: 3.36rem;
    top: 8.53rem;
    opacity: 0;
    animation-delay: 3s;
}

.monsterFall img:nth-of-type(4) {
    width: 2.93rem;
    height: 1.73rem;
    position: absolute;
    left: 8rem;
    top: .85rem;
    opacity: 0;
    animation-delay: 3.5s;
}
.monsterFall img:nth-of-type(5) {
    width: 5.06rem;
    height: 1.31rem;
    position: absolute;
    left: .5rem;
    top: .76rem;
    opacity: 0;
    animation-delay: 3.5s;
}
.monsterFall img:nth-of-type(6) {
    width: 10.05rem;
    height: 19.85rem;
    position: absolute;
    left: 2.6rem;
    top: 2.15rem;
    opacity: 0;
    z-index: 1;
    animation-delay: 0s;
}
.monsterFall img:nth-of-type(7) {
    width: 8.72rem;
    height: 7.91rem;
    position: absolute;
    left: 3.63rem;
    top: 4.36rem;
    opacity: 0;
    z-index: 1;
    animation-delay: 1s;
}

.monsterFall .scoreContainer {
    width: 7.5rem;
    height: 2.5rem;
    position: absolute;
    right: 1.5rem;
    top: .5rem;
    opacity: 0;
}

.monsterFall .scoreContainer .score {
    width: 3rem;
    height: 2.5rem;
    position: absolute;
    right: 0;
    top: 0.3rem;
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 1.7rem;
    color: #ffb91c;
}
.monsterFall .countDownContainer {
    width: 6.5rem;
    height: 2.5rem;
    position: absolute;
    right: .5rem;
    left: .5rem;
    opacity: 0;
}

.monsterFall .countDownContainer .countDown {
    width: 3rem;
    height: 2.5rem;
    position: absolute;
    right: .5rem;
    top: .7rem;
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 1.4rem;
    color: #ffb91c;
    z-index: 2;
}

.littleMonster {
    width: 3.08rem;
    height: 3.36rem;
    position: absolute;
    top: -6rem;
    left: 0;
    /*background: red;*/
    /*background: url(../images/test_package.png) no-repeat;
    background-size: 100%;*/
    background-image: url(../img/monster2.png);
    background-repeat: no-repeat;
    background-size: 3.08rem 7.48rem;
    background-position: 0 0;
}

.startSubjectPage{
    width: 100%;
    height: 100%;
    position: relative;
}
.startSubjectPage img:nth-of-type(1){
    width: 12.23rem;
    height: 9.45rem;
    position: absolute;
    left: 1.47rem;
    top: 5.5rem;
    opacity: 0;
    z-index: 1;
    animation-delay: 1s;
}
.startSubjectPage img:nth-of-type(2){
    width: 6.93rem;
    height: 2.4rem;
    position: absolute;
    left: 4rem;
    top: 10.55rem;
    opacity: 0;
    z-index: 2;
    animation-delay: 1s;
}
.subjectCorrect{
    width: 100%;
    height: 100%;
    position: relative;
}
.subjectCorrect img:nth-of-type(1){
    width: 12.6rem;
    height: 9.41rem;
    position: absolute;
    left: 1.33rem;
    top: 6.9rem;
    opacity: 0;
    z-index: 1;
    animation-delay: 1s;
}
.subjectCorrect img:nth-of-type(2){
    width: 6.15rem;
    height: 2.14rem;
    position: absolute;
    left: 4.41rem;
    top: 13rem;
    opacity: 0;
    z-index: 2;
    animation-delay: 1s;
}
.subjectPage {
    width: 100%;
    height: 100%;
    position: relative;
}
.subjectPage .subjectContainer {
    width: 12.23rem;
    height: 10.53rem;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 1.56rem;
    top: .95rem;
    background: url("../img/subjectBoard.png") no-repeat;
    background-size: cover;
    opacity: 0;
    animation-delay: 1s;
}
.subjectPage .subjectContainer p {
    width: 10rem;
    height: 5rem;
    margin: auto auto .3rem;
    text-indent: .6rem;
    font-size: .48rem;
    color: white;
    font-family: "Microsoft YaHei UI";
}
.subjectPage .optionContainer p {
    width: 8.99rem;
    height: 3.11rem;
    margin: 0 auto;
    line-height: 3.11rem;
    text-align: center;
    font-size: .48rem;
    color: white;
    font-family: "Microsoft YaHei UI";
}
.subjectPage #optionA {
    width: 8.99rem;
    height: 3.11rem;
    position: absolute;
    left: 3.2rem;
    top: 11.4rem;
    background: url("../img/subjectBorder.png") no-repeat;
    background-size: cover;
    opacity: 0;
    animation-delay: 2s;
}
.subjectPage #optionB {
    width: 8.99rem;
    height: 3.11rem;
    position: absolute;
    left: 3.2rem;
    top: 14.4rem;
    background: url("../img/subjectBorder.png") no-repeat;
    background-size: cover;
    opacity: 0;
    animation-delay: 2.5s;
}

.subjectPage #optionC {
    width: 8.99rem;
    height: 3.11rem;
    position: absolute;
    left: 3.2rem;
    top: 17.4rem;
    background: url("../img/subjectBorder.png") no-repeat;
    background-size: cover;
    opacity: 0;
    animation-delay: 3s;
}

.subjectPage #optionD {
    width: 8.99rem;
    height: 3.11rem;
    position: absolute;
    left: 3.2rem;
    top: 20.4rem;
    background: url("../img/subjectBorder.png") no-repeat;
    background-size: cover;
    opacity: 0;
    animation-delay: 3.5s;
}

.replayPage {
    width: 100%;
    height: 100%;
    position: relative;
}

.replayPage img:nth-of-type(1) {
    width: 14.07rem;
    height: 17.13rem;
    position: absolute;
    left: .83rem;
    top: 3.97rem;
    opacity: 0;
}

.replayPage img:nth-of-type(2) {
    width: 5.23rem;
    height: 2.5rem;
    position: absolute;
    left: 1.74rem;
    top: 19.03rem;
    opacity: 0;
    z-index:1;
}

.replayPage img:nth-of-type(3) {
    width: 5.23rem;
    height: 2.96rem;
    position: absolute;
    left: 1.74rem;
    top: 18.57rem;
    opacity: 0;
    z-index:2;
}

.rankPage{
    width: 100%;
    height: 100%;
    position: relative;
}
.rankPage #scoreBoardBg{
    width: 11.8rem;
    height: 20.85rem;
    position: absolute;
    left: 2rem;
    top: .72rem;
    opacity: 0;
    z-index: 1;
    animation-delay: .5s;
}
.rankPage #villageSay{
    width: 8.68rem;
    height: 4.54rem;
    position: absolute;
    left: 3.33rem;
    top: 17.93rem;
    opacity: 0;
    z-index: 1;
    animation-delay: .5s;
}
.rankPage #continueUp{
    width: 3.94rem;
    height: 1.92rem;
    position: absolute;
    left: 5.7rem;
    top: 20.54rem;
    z-index: 2;
    opacity: 0;
    animation-delay: .5s;
}
.rankPage .rankContainer{
    width: 7.53rem;
    height: 12rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    position: absolute;
    left:4.2rem;
    top:5.07rem;
    opacity:0;
    animation-delay: 1s;
}
.rankPage .rankContainer .personalContainer{
    width: 3.76rem;
    height: 1.19rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rankPage .rankContainer .personalContainer .rank{
    height: 1rem;
    width: .56rem;
    font-size: .45rem;
    color: white;
    line-height: 1rem;
    text-align: center;
}
.rankPage .rankContainer .personalContainer .head{
    height: 1rem;
    width: 1rem;
}
.rankPage .rankContainer .personalContainer .nameAndScore{
    height: 1rem;
    width: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.rankPage .rankContainer .personalContainer .nameAndScore .name{
    height: .5rem;
    width: 2.2rem;
    font-size: .2rem;
    color: white;
    line-height: .5rem;
    font-family: 幼圆;
}
.rankPage .rankContainer .personalContainer .nameAndScore .personalScore{
    height: .5rem;
    width: 2.2rem;
    font-family: "Berlin Sans FB";
    font-weight: bold;
    font-size: .5rem;
    color: yellow;
    line-height: .5rem;
}
.infoPage{
    width: 100%;
    height: 100%;
    position: relative;
}
.infoPage .inputContainer{
    width: 12.6rem;
    height: 12.97rem;
    position: absolute;
    background-size: cover;
    left: 1.32rem;
    top: 6.9rem;
    z-index: 1;
    opacity: 0;
    animation-delay: .5s;
}
.bg{background: url("../img/infoBg.png") no-repeat;}
.bg1{background: url("../img/infoBg1.png") no-repeat;}
.infoPage input:nth-of-type(1){
    width: 2.8rem;
    height: .88rem;
    position: absolute;
    left: 5.47rem;
    top:3.98rem;
    border: .01rem solid white;
    border-radius: .08rem;
}
.infoPage input:nth-of-type(2){
    width: 8.27rem;
    height: .89rem;
    position: absolute;
    left:3rem;
    top:5.22rem;
    border: .01rem solid white;
    border-radius: .08rem;
}
.infoPage input:nth-of-type(3){
    width: 4.74rem;
    height: .89rem;
    position: absolute;
    left:4.68rem;
    top:6.49rem;
    border: .01rem solid white;
    border-radius: .08rem;
}
.infoPage input:nth-of-type(4){
    width: 5.59rem;
    height: .89rem;
    position: absolute;
    left:5rem;
    top:7.77rem;
    border: .01rem solid white;
    border-radius: .08rem;
}
.infoPage .inputContainer .submit{
    width: 6.5rem;
    height: 2.88rem;
    background: url("../img/completed.png") no-repeat;
    background-size: cover;
    position: absolute;
    left: 2.95rem;
    top: 10.09rem;
    border: none;
}
.lotteryPage,.ly-plate{
    width: 100%;
    height: 100%;
    position: relative;
}
.lotteryPage,.ly-plate img:nth-of-type(1){
    width: 14.44rem;
    height: 13.98rem;
    position: absolute;
    left: .69rem;
    top: 3.23rem;
    z-index: 1;
}
.lotteryPage img:nth-of-type(2){
    width: 11.38rem;
    height: 11.38rem;
    position: absolute;
    left: 2.23rem;
    top: 4.64rem;
    z-index: 2;
    opacity: 0;
    animation-delay: .5s;
}
.lotteryPage img:nth-of-type(3){
    width: 10.53rem;
    height: 10.53rem;
    position: absolute;
    left: 2.655rem;
    top: 5.065rem;
    z-index: 3;
    opacity: 0;
    animation-delay: .5s;
}
.rotate-bg{
    width: 11.38rem;
    height: 11.38rem;
    position: absolute;
    left: 2.23rem;
    top: 4.64rem;
    z-index: 2;
    animation-delay: .5s;
    background: url("../img/lotteryBg.png") no-repeat;
    background-size: cover;
}
.lottery-star{
    width: 10.53rem;
    height: 10.53rem;
    position: absolute;
    left: 2.655rem;
    top: 5.065rem;
    z-index: 3;
    animation-delay: .5s;
    background:url("../img/lotteryBtn.png") no-repeat;
    background-size: cover;
    cursor: pointer;
    outline:none;
}
.winPage{
    width: 100%;
    height: 100%;
    position: relative;
}
.winPage #share{
    width: 13.19rem;
    height: 18.9rem;
    position: absolute;
    left: 1.1rem;
    top: 4.74rem;
    z-index: 2;
    opacity: 0;
    animation-delay: .5s;
}
.winPage #firstDoctor{
    width: 7.14rem;
    height: 11.26rem;
    position: absolute;
    left: 3.3rem;
    top: .74rem;
    z-index: 2;
    opacity: 0;
    animation-delay: .5s;
}
.winPage #thirdDoctor{
    width: 10.32rem;
    height: 11.43rem;
    position: absolute;
    right: .7rem;
    top: .5rem;
    z-index: 2;
    opacity: 0;
}
.winPage #shareBtn{
    width: 5.69rem;
    height: 3.22rem;
    position: absolute;
    left: 4.73rem;
    top: 20.4rem;
    z-index: 3;
    opacity: 0;
    animation-delay: .5s;
}

.failPage {
    width: 100%;
    height: 100%;
    position: relative;
}

.failPage img:nth-of-type(1) {
    width: 13.18rem;
    height: 17.7rem;
    position: absolute;
    left: .71rem;
    top: 2.65rem;
    opacity: 0;
}

.failPage img:nth-of-type(2) {
    width: 5.23rem;
    height: 2.96rem;
    position: absolute;
    left: 1.82rem;
    top: 17.4rem;
    opacity: 0;
    z-index:1;
}

.failPage img:nth-of-type(3) {
    width: 5.23rem;
    height: 2.96rem;
    position: absolute;
    left: 7.86rem;
    top: 17.4rem;
    opacity: 0;
    z-index:2;
}

.music {
    width: 1.28rem;
    height: 1.28rem;
    position: absolute;
    top: 3rem;
    left: 0.4rem;
    background: url(../img/openMusic.png) no-repeat;
    background-size: 100% 100%;
    z-index: 111;
    opacity: 1;
    filter: alpha(opacity=100);
}

.musicCur {
    -webkit-animation: move 1s infinite linear both;
    animation: move 1s infinite linear both;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loadingDiv{
    width: 15.27rem;
    height: 26.81rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}
.preloadImg{
    width:1rem;
    height: 1rem;
    position: absolute;
    top: -3rem;
}

