html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
}
.firstPage{
    width: 100%;
    height: 100%;
    position: relative;
}
.firstPage img:nth-of-type(1){
    width: 100%;
    height: 26.47rem;
    position: absolute;
    left: 0;
    bottom:0;
    opacity: 0;
}
.firstPage img:nth-of-type(2){
    width: 13.45rem;
    height: 15.81rem;
    position: absolute;
    left: 1.37rem;
    top: 4.48rem;
    opacity: 0;
    animation-delay: 1s;
}
.firstPage img:nth-of-type(3){
    width: 4.64rem;
    height: 2.22rem;
    position: absolute;
    left: .62rem;
    top: .45rem;
    opacity: 0;
    animation-delay: 1.5s;
}
.firstPage img:nth-of-type(4){
    width: 8.83rem;
    height: 11.32rem;
    position: absolute;
    left: .83rem;
    top:4.25rem;
    opacity: 0;
    animation-delay: 2s;
}
.firstPage img:nth-of-type(5){
    width: 6.71rem;
    height: 11.57rem;
    position: absolute;
    left: 7.57rem;
    top:.52rem;
    opacity: 0;
    animation-delay: 2.5s;
}
.firstPage img:nth-of-type(6){
    width: 7.76rem;
    height: 3.7rem;
    position: absolute;
    left: 3.84rem;
    top:20.34rem;
    opacity: 0;
    animation-delay: 3s;
}
.firstPage img:nth-of-type(7){
    width: 7.76rem;
    height: 4.4rem;
    position: absolute;
    left: 3.84rem;
    top:19.63rem;
    opacity: 0;
    animation-delay: 3s;
}
.firstPage img:nth-of-type(8){
    width: 4.25rem;
    height: 1.47rem;
    position: absolute;
    left: 5.45rem;
    top:24.63rem;
    opacity: 0;
    animation-delay: 3.5s;
}
.firstPage img:nth-of-type(9){
    width: 4.25rem;
    height: 1.37rem;
    position: absolute;
    left: 5.45rem;
    top:24.53rem;
    opacity: 0;
    animation-delay: 3.5s;
}
.rulePage{
    width: 100%;
    height: 100%;
    position: relative;
}
.rulePage img:nth-of-type(1){
    width: 7.36rem;
    height: 4.47rem;
    position: absolute;
    left: 3.8rem;
    top:1.91rem;
    opacity: 0;
    animation-delay: 0.5s;
}
.rulePage img:nth-of-type(2){
    width: 1.74rem;
    height: 1.74rem;
    position: absolute;
    left: 12.72rem;
    top:4.62rem;
    opacity: 0;
    animation-delay: 1s;
}
.rulePage div:nth-of-type(1){
    width: 12.23rem;
    height: 17rem;
    background: url("../img/blakboard.png") no-repeat;
    background-size: cover;
    position: absolute;
    left: 1.45rem;
    top:5.5rem;
    opacity: 0;
    animation-delay: 1s;
}
.rulePage div p{
    font-size: .5rem;
    color: white;
    font-family: "Microsoft YaHei UI";
    line-height: .7rem;
}
.monsterFall{
    width: 100%;
    height: 100%;
    position: relative;
}
.monsterFall img:nth-of-type(1){
    width: 100%;
    height: 26.47rem;
    position: absolute;
    left: 0;
    bottom:0;
    opacity: 0;
}
.monsterFall img:nth-of-type(2){
    width: 7.94rem;
    height: 7.93rem;
    position: absolute;
    left: 3.36rem;
    top: 8.53rem;
    opacity: 0;
    animation-delay: 1s;
}
.monsterFall img:nth-of-type(3){
    width: 7.94rem;
    height: 7.93rem;
    position: absolute;
    left: 3.36rem;
    top: 8.53rem;
    opacity: 0;
    animation-delay: 2s;
}
.monsterFall img:nth-of-type(4){
    width: 7.94rem;
    height: 7.93rem;
    position: absolute;
    left: 3.36rem;
    top: 8.53rem;
    opacity: 0;
    animation-delay: 3s;
}
.monsterFall  img:nth-of-type(5){
    width: 2.93rem;
    height: 1.73rem;
    position: absolute;
    left: 8.5rem;
    top: .85rem;
    opacity: 0;
    animation-delay: 3.5s;
}
.monsterFall .scoreContainer{
    width: 6.5rem;
    height: 2.5rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
    opacity: 0;
}
.monsterFall .scoreContainer .score{
    width: 3rem;
    height: 2.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

.littleMonster{
    width: 2rem;
    height: 2rem;
    position: absolute;
}
.monsterFall .next,.again{
    width: 8rem;
    height: 3rem;
    background-color: white;
    font-size: 2rem;
    position: absolute;
    left: 3.36rem;
    top: 8.53rem;
    opacity: 0;
}
.subjectPage{
    width:100%;
    height: 100%;
    position: relative;
}
.subjectPage img:nth-of-type(1){
    width: 12.23rem;
    height: 10.53rem;
    position: absolute;
    left: 1.56rem;
    top: 1.95rem;
    opacity: 0;
    animation-delay: 1s;
}
.subjectPage #optionA{
    width: 8.99rem;
    height: 3.11rem;
    position: absolute;
    left: 3.2rem;
    top: 12.4rem;
    opacity: 0;
    animation-delay: 2s;
}
.subjectPage #optionA img{
    width: 8.99rem;
    height: 3.11rem;
    position: absolute;
    left: 3.2rem;
    top: 12.4rem;
    opacity: 0;
    animation-delay: 2s;
}
.subjectPage #optionB{
    width: 8.99rem;
    height: 3.11rem;
    position: absolute;
    left: 3.2rem;
    top: 15.4rem;
    opacity: 0;
    animation-delay: 2.5s;
}
.subjectPage #optionB img{
    width: 8.99rem;
    height: 3.11rem;
    position: absolute;
    left: 3.2rem;
    top: 15.4rem;
    opacity: 0;
    animation-delay: 2.5s;
}
.subjectPage #optionC{
    width: 8.99rem;
    height: 3.11rem;
    position: absolute;
    left: 3.2rem;
    top: 18.44rem;
    opacity: 0;
    animation-delay: 3s;
}
.subjectPage #optionC img{
    width: 8.99rem;
    height: 3.11rem;
    position: absolute;
    left: 3.2rem;
    top: 18.44rem;
    opacity: 0;
    animation-delay: 3s;
}
.subjectPage #optionD{
    width: 8.99rem;
    height: 3.11rem;
    position: absolute;
    left: 3.2rem;
    top: 21.5rem;
    opacity: 0;
    animation-delay: 3.5s;
}
.subjectPage #optionD img{
    width: 8.99rem;
    height: 3.11rem;
    position: absolute;
    left: 3.2rem;
    top: 21.5rem;
    opacity: 0;
    animation-delay: 3.5s;
}